@model TestPages.DataBaseModels.Product
@ViewBag["Title"] ="Edit"

<h2>
    Create Item
</h2>

@Html.BeginForm("CreateNew", "Products", FormMethod.Post){
<div class="form-group">
    @Html.Label("", "Name", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("", "Cost", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.Label("", "Count", htmlAttributes: new { @class = "control-label col-md-2" })

    <div class="col-md-10">
        @Html.EditorFor(model => model.Count, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Count, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</div>
}
